.popup-content__input {
	margin: 38px 36px 0;
	display: block;
	width: 358px;
	padding-bottom: 13px;
	border-bottom: 1px solid gray;
    border-top: none;
    border-left: none;
    border-right: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

@media screen and (max-width: 540px) and (min-width: 320px) {
    .popup-content__input {
       max-width: 238px;
       margin: 30px auto 30px;
    }
}