.header{
    max-width: 880px;
    max-height: 120px;
    margin-top: 45px;
    margin-right: 200px;
    margin-bottom: 36.25px;
    margin-left: 200px;
    padding: 0;
    border-bottom: 0.1px solid rgba(84, 84, 84, 1);
}

@media (max-width: 1280px){ 
    .header{ 
        max-width: calc(320px + (880 - 320) * ((100vw - 320px) / (1280 - 320)));
        max-height: calc(56px + (120 - 56) * ((100vw - 320px) / (1280 - 320)));
        margin-top: calc(28px + (45 - 28) * ((100vw - 320px) / (1280 - 320)));
        margin-right: calc(0px + (200 - 0) * ((100vw - 320px) / (1280 - 320)));
        margin-left: calc(0px + (200 - 0) * ((100vw - 320px) / (1280 - 320)));
        margin-bottom: calc(0px + (36.25 - 0) * ((100vw - 320px) / (1280 - 320)));
    }
} 