.profile__info{
    max-width: 336px;
    margin: 20px 0 0 30px;
    padding: 0;
    grid-area: info;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 294px 2.28vh 24px;
    grid-template-columns: 294px 24px;
    -ms-grid-rows: 39px 15px 18px;
    grid-template-rows: 39px 18px;
        grid-template-areas: 
    "title edit"
    "subtitle .";
    -webkit-column-gap: 2.28vh;
       -moz-column-gap: 2.28vh;
            column-gap: 2.28vh;
    row-gap: 15px;
}

@media screen and (max-width: 1279px) and (min-width: 769px) {
    .profile__info{
        grid-template-columns: 2fr 0.5fr;
        grid-template-rows: 0.5fr 0.5fr;
        column-gap: 0;
        row-gap: 0; 
    }
}


@media screen and (max-width: 768px) and (min-width: 320px){
    .profile__info{
        margin: 0 auto;
        padding-top: 22.25px;
        max-width: 282px;
        grid-template-columns: 189px 18px;
        grid-template-rows: 26px 14px;
        column-gap: 0;
        row-gap: 14px;
    }
}